* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
/* ---------------- Navbar ---------------- */
#header {
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 100;
}
#header .container {
  padding: 10px 100px;
}
#logo.navbar-brand {
  font-family: fantasy;
  color: rgb(215, 126, 67);
  font-size: 22px;
  opacity: 0.8;
}
.navbar-toggler {
  background-color: rgba(215, 126, 67) !important;
  opacity: 0.8;
}
.nav-link .fa {
  font-size: 22px;
  margin: 0 3px;
  color: rgba(215, 126, 67);
  opacity: 0.8;
}
.nav-link .fa sup {
  color: #777;
}
.navbar-collapse .btn {
  background-color: rgba(215, 126, 67);
  opacity: 0.8;
}
.navbar-collapse .btn:hover {
  background-color: rgba(215, 126, 67);
  opacity: 1;
}
.navbar-toggler:hover,
.nav-link .fa:hover,
#logo.navbar-brand:hover {
  opacity: 1;
}

/* ---------------- Body ---------------- */
#body {
  padding: 30px 100px;
}
/* ------------ Section1 ----------- */
.section1 .row .col-12 {
  padding: 8px;
  overflow: hidden;
  margin: 0;
}
.section1 .row .col-12 .image-box {
  overflow: hidden;
}
.section1 .row div .image-box:hover img {
  transform: scale(1.07);
  transition: 0.5s;
  z-index: 1;
}
.section1 .row .col-12 .image-text {
  position: relative;
  top: 70px;
  left: 20px;
  z-index: 2;
}
.section1 .row .col-12 .image-text a {
  text-decoration: none;
  font-size: 22px;
  color: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.section1 .row .col-12 .image-text a:hover {
  color: rgba(215, 126, 67);
}
.section1 .row .col-12 .image-text p span {
  font-size: 13px;
}

/* ------------ Section2 ----------- */
.section2 .part2 {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 .part2 .title {
  font-size: 55px;
  font-family: cursive;
}
.section2 .part2 .content {
  width: 60%;
  text-align: center;
  padding: 20px 0 40px;
}
.section2 .part2 .content2,
.section2 .part2 .content2 .image-content,
.section2 .part2 .content2 .image-content div {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.section2 .part2 .content2 .image-content {
  background-image: url(images/about-banner.jpg);
}
.section2 .part2 .content2:hover .image-content {
  transform: scale(1.1);
  transition: 1s;
}
.section2 .part2 .content2:hover .image-content div {
  animation-name: anim1;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.261);
}

/* ------------ Section3 ----------- */
.section3 #box-1 {
  margin: 100px 0 60px;
  display: flex;
  justify-content: space-between;
}
.section3 #box-1 .col-12 ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
}
.section3 #box-1 .col-12 ul li a {
  display: inline-block;
  padding: 0 7px;
  text-decoration: none;
  color: inherit;
  font-size: 17px;
  border-right: 2px solid rgb(99, 99, 99);
}
.section3 #box-1 .col-12 ul li:last-child a {
  border-right: none;
}
.section3 #box-1 .col-12 ul li #active,
.section3 #box-1 .col-12 ul li a:hover {
  color: rgba(215, 126, 67);
}
#box-2 .col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#box-2 .col-6 .bg1,
#box-2 .col-6 .bg2,
#box-2 .col-6 .bg3,
#box-2 .col-6 .bg4,
#box-2 .col-6 .bg5,
#box-2 .col-6 .bg6,
#box-2 .col-6 .bg7,
#box-2 .col-6 .bg8,
#box-2 .col-6 .bg9,
#box-2 .col-6 .bg10,
#box-2 .col-6 .bg11,
#box-2 .col-6 .bg12,
#box-2 .col-6 .bg13,
#box-2 .col-6 .bg14,
#box-2 .col-6 .bg15,
#box-2 .col-6 .bg16,
#box-2 .col-6 .bg17,
#box-2 .col-6 .bg18,
#box-2 .col-6 .bg19 {
  width: 100%;
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-clip: border-box !important;
}
#box-2 .col-6 a {
  text-decoration: none;
  color: rgb(68, 68, 68);
  margin: 25px 0 5px;
}
#box-2 .col-6 p {
  color: gray;
  font-size: 20px;
}
#box-2 .col-6 div {
  overflow: hidden;
}
#box-2 .col-6 div div {
  opacity: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  height: 100%;
  transform: translateX(-40px);
  padding-top: 5px;
}
#box-2 .col-6 div div:hover {
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
}
#box-2 .col-6 div div ul {
  list-style: none;
  padding-left: 5px;
  margin: 0;
}
#box-2 .col-6 div div a span,
#box-2 .col-6 div div span {
  display: inline-block;
  font-size: 26px;
  padding: 15px 10px;
}
#box-2 .col-6 div div a span:hover,
#box-2 .col-6 div div span:hover {
  color: rgb(215, 126, 67);
  cursor: pointer;
}
